@charset "utf-8";

body {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

.background {
    background-color: #000;
    background-image: url(../images/bg-img.jpg);
    background-size: cover;
    height: 500px;
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
}

.background::before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0,0,0,.3);
}

#loginContainer {
    width: 80%;
    margin: 0 auto;
    position: relative;
    max-width: 1024px;
}

#loginContainer * {
    color: #fff;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    line-height: 1em;
    box-sizing: border-box;
}

#inputContainer {
    width: 400px;
    padding: 45px;
    float: left;
    border-right: 1px solid #999;
}

#loginForm label {
    display: block;
}

#loginForm input[type="text"],
#loginForm input[type="password"],
#loginForm input[type="email"] {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    height: 27px;
    line-height: 27px;
    width: 100%;
    color: #fff;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #fff;
}

#inputContainer button {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 250px;
    color: #fff;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 20px auto;
    height: 41px;
    width: 100%;
}

#inputContainer button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.25);
}

.hasAccountText span {
	font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.hasAccountText {
	text-align: center;
}

#registerForm,
#loginForm {
	display: none;
}

#inputContainer label {
    color: #a0a0a0;
    font-size: 13px;
    margin-top: 15px;
    display: block;
}

#registerForm input[type="text"],
#registerForm input[type="password"],
#registerForm input[type="email"] {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    height: 27px;
    line-height: 27px;
    width: 100%;
    color: #fff;
}

#loginText {
    padding: 45px;
    display: table-cell;
}

#loginText h1 {
    color: #07d159;
    font-size: 60px;
    font-weight: bold;
}

#loginText h2 {
    margin: 35px 0;
}

#loginText ul li {
    list-style-type: none;
    padding: 5px 30px;
    font-size: 20px;
    background: url(../images/icons/check-mark.png) no-repeat;
}

#inputContainer .errorMessage {
    color: #07d159;
    font-size: 12px;
    display: block;
}
